.navbar {
    z-index: 2;
    min-height: 50px;
    /*margin-bottom: 0;*/
    box-shadow: 0px 2px 10px #52504a;
    background-color: white;
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 25px;
        padding-bottom: 25px;
        font-size: larger;
        font-weight: 300;
    }

    .navbar-brand {
        padding: 25px 85px;
        font-size: x-large;
        font-weight: bold;
    }
}

.breadcrumb{
    background-color: transparent;
}

.breadcrumb-style{
    margin-top: -15px;
}

.navbar-toggle {
    border-color: rgba(202, 202, 202, 0.91);
}
.navbar-toggle .icon-bar{
    background-color: rgba(202, 202, 202, 0.91);
}

.footer{
    color: white;
}

.text-white {
    color: white;
}

.font-thin {
    font-weight: 300;
}

.marginleft {
    margin-left: 30px !important;
    font-size: 16px;
}

.dropdown-menu > li > a {
    font-size: medium;
}
.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1
}

.delete-page{
    margin: 174px 0;
}