cairocffi==0.8.0
CairoSVG==2.0.3
cffi==1.11.0
cssselect==1.0.1
decorator==4.1.2
Django==1.11.23
django-environ==0.4.1
django-storages==1.5.2
django-tenant-schemas==1.9.0
dropbox==7.1.1
gunicorn==19.6.0
html5lib==0.999999999
ipython==5.1.0
ipython-genutils==0.2.0
lxml==4.0.0
olefile==0.44
pexpect==4.2.1
pickleshare==0.7.4
Pillow==4.2.1
prompt-toolkit==1.0.15
psycopg2==2.7.3.1
ptyprocess==0.5.2
pycparser==2.18
Pygments==2.2.0
PyJWT==1.4.2
Pyphen==0.9.4
python-dateutil==2.6.1
pytz==2017.2
requests==2.12.4
simplegeneric==0.8.1
six==1.11.0
tinycss==0.4
traitlets==4.3.2
typing==3.6.2
urllib3==1.22
wcwidth==0.1.7
WeasyPrint==0.34
webencodings==0.5.1
whitenoise==3.3.1
XlsxWriter==0.9.6
