{% extends 'base_temp.html' %}

{% block breadcrumb %}
    <div class="container-fluid breadcrumb-style">
        <div class="page-header">
            <h3>
                customer
                <small> | List</small>
            </h3>
        </div>
        <ol class="breadcrumb">
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li>customer</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="text-right">
                    <a href="{% url 'customer_create' %}" class="btn btn-primary"> <span> <i
                            class="fa fa-plus">&nbsp; </i></span>
                        Add</a>
                    <br>
                    <br>
                </div>

                <div class="table-responsive">
                    <table class="table table-hover table-striped table-bordered">
                        <thead>
                        <tr>
                            <th style="width: 5%">S.N.</th>
                            <th style="width: 30%">Name</th>
                            <th style="width: 30%">Address</th>
                            <th style="width: 25%">Phone Number</th>
                            <th style="width: 10%"></th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for customer in customers.object_list %}

                            <tr>
                                <td>  {{ forloop.counter0|add:customers.start_index }}</td>
                                <td>{{ customer.name }}</td>
                                <td>{{ customer.address }}</td>
                                <td>{{ customer.phone_number }}</td>
                                {% if trash == 'True' %}
                                    <td>
                                        <a href="{% url 'customer_restore' pk=customer.id %}"><span><i
                                                class="fa fa-undo fa-2x"></i></span></a>
                                        &nbsp;
                                        <a href="{% url 'customer_delete' pk=customer.id %}"><span> <i
                                                class="fa fa-trash text-danger fa-2x"></i></span></a>
                                    </td>
                                {% else %}
                                    <td>
                                        <a href="{% url 'customer_edit' pk=customer.id %}"><span><i
                                                class="fa fa-edit fa-2x"></i></span></a>
                                        &nbsp;
                                        <a href="{% url 'customer_soft_delete' pk=customer.id %}"><span> <i
                                                class="fa fa-trash-o text-danger fa-2x"></i></span></a>
                                    </td>
                                {% endif %}

                            </tr>

                        {% empty %}
                            <tr style="background-color: rgba(255,0,0,0.14);">
                                <td class="text-center text-danger text-large" colspan="5">None</td>
                            </tr>
                        {% endfor %}


                        </tbody>

                    </table>
                </div>
            </div>
        </div>

        <div class="text-center">
            <ul class="pagination">
                {% if customers.has_previous %}
                    <li><a href="?page={{ customers.previous_page_number }}">&laquo;
                        Previous</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo; Previous</span></li>
                {% endif %}
                {% for i in customers.paginator.page_range %}
                    {% if customers.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if customers.has_next %}
                    <li><a href="?page={{ customers.next_page_number }}">Next &raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>Next &raquo;</span></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <br>
{% endblock %}

{% block footer %}
    <footer style="background-color: #337ab7;" id="#aboutus">
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center text-white"> Built With <i class="fa fa-heart text-danger"></i> In Biratnagar
                    </p>
                    <p class="text-center text-white">&copy; CopyRight <strong>Spyders</strong></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}