{% extends    'base_temp.html' %}
{% load staticfiles %}

{% block breadcrumb %}
    <div class="container-fluid breadcrumb-style">
        <div class="page-header">
            <h3>
                Unit
                <small> | {% if form.instance.id %} Edit {% else %} Add {% endif %}</small>
            </h3>
        </div>
        <ol class="breadcrumb">
            <li><a href="{% url 'home_page' %}">Home</a></li>
            <li><a href="{% url 'unit_list' %}">Unit</a></li>
            <li>{% if form.instance.id %} Edit {% else %} New {% endif %}</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-{{ message.tags }}">
                            <button type="button" class="close" data-dismiss="alert">×</button>
                            <p>{{ message }}</p>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-md-offset-1 col-md-10">

                {% if form.non_form_errors %}
                    <div class="row">
                        <div class="col-md-12">
                            <div class="alert alert-danger">
                                <ul>
                                    {% for error in form.non_form_errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <br><br><br>
                <form method="POST">

                    {% csrf_token %}
                    <div class="row">
                        <div class=" col-xs-12 col-md-offset-1 col-md-11">

                            <div class="form-horizontal">

                                {#                                    {% for form in form.visible_forms %}#}
                                <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                                    <label class="col-md-3 control-label">{{ form.name.label }}</label>
                                    <div class="col-md-6">
                                        {{ form.name }}
                                        {% if form.name.errors %}
                                            <div class="help-block">
                                                {{ form.name.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="form-group {% if form.print_name.errors %}has-error{% endif %}">
                                    <label class="col-md-3 control-label">{{ form.print_name.label }}</label>
                                    <div class="col-md-6">
                                        {{ form.print_name }}
                                        {% if form.print_name.errors %}
                                            <div class="help-block">
                                                {{ form.print_name.errors }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                {#                                    {% endfor %}#}

                                <div class="form-group">
                                    <div class="col-md-6 col-md-offset-3">
                                        <button type="submit" name="submit" class="btn btn-primary">Submit
                                        </button>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </form>

            </div>
        </div>
        <br><br><br><br>
    </div>
{% endblock %}

{% block footer %}
    <footer style="background-color: #337ab7;" id="#aboutus">
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center text-white"> Built With <i class="fa fa-heart text-danger"></i> In
                        Biratnagar
                    </p>
                    <p class="text-center text-white">&copy; CopyRight <strong>Spyders</strong></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{% block extra_script %}
    <script src="{% static 'js/submit_btn.js' %}"></script>
{% endblock %}
