{% extends 'base_temp.html' %}
{% load staticfiles %}
{% load datefilter %}

{% block extra_stylesheets %}
    <link href="{% static 'css/transaction.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'nepali_datepicker/nepali.datepicker.v2.2.min.css' %}">
{% endblock %}

{% block extra_script %}
    <script src="{% static 'nepali_datepicker/nepali.datepicker.v2.2.min.js' %}"></script>
    <script src="{% static 'js/transaction/transaction_js.js' %}"></script>
    <script>
        $(document).ready(function () {
            {% if start_date and end_date %}
                var start = $('#start_date').attr('name');
                var end = $('#end_date').attr('name');
                $('#start_date').val(AD2BS(start));
                $('#end_date').val(AD2BS(end));
            {% endif %}

            $("select option").each(function () {
                {% if item_name %}
                    if ($(this).val() == {{ item_name }})
                        $(this).attr("selected", "selected");
                {% endif %}
            });
        });

        $('body').on('change', '.item-list', function () {
            var item_name = $('.item-list').val();
            if (item_name) {
                location.href = {% url 'transaction_list' %} +"?utf8=✓&item_name=" + item_name;
            }
        });

        $('body').on('click', '.submit', function () {
            location.href = {% url "transaction_list" %} +'?utf8=✓&start_date=' + BS2AD($('#start_date').val()) + '&end_date=' + BS2AD($('#end_date').val());
        });
    </script>
{% endblock %}

{% block breadcrumb %}
    <div class="container-fluid breadcrumb-style">
        <div class="page-header">
            <h3>
                Transactions
                <small> | List</small>
            </h3>
        </div>
        <ol class="breadcrumb">
            <li><a href="{% url 'transaction_create' %}">Home</a></li>
            <li>Transactions</li>
        </ol>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 col-xs-12">
                <select class="form-control" name="filter" id="filter">
                    <option value="">Filter</option>
                    <option value="date">Date</option>
                    <option value="item-name">Item Name</option>
                </select>
            </div>

            <div class="col-md-9 visible-md visible-lg">
                <div class="date-content hide">
                    <form class="form-inline" accept-charset="UTF-8" method="get"><input
                            name="utf8" type="hidden" value="✓">
                        <a class="hide-pdf" style="margin-left: 15px;"
                           href="?utf8=✓&amp;start_date={{ 3|datefilter }}&amp;end_date={{ 0|datefilter }}">Last 3
                            Months</a>
                        <a class="hide-pdf" style="margin-left:15px; margin-right:15px;"
                           href="?utf8=✓&amp;start_date={{ 6|datefilter }}&amp;end_date={{ 0|datefilter }}">Last 6
                            Months</a>
                        <a class="hide-pdf" style="margin-right: 15px;"
                           href="?utf8=✓&amp;start_date={{ 12|datefilter }}&amp;end_date={{ 0|datefilter }}">Last 12
                            Months</a>

                        <div class="form-group" style="border-left: 1px solid #cfcfcf; padding-left: 20px;">
                            <div id="datetimepicker1">
                                <input type="text" id="start_date"
                                        {% if start_date %}
                                       name="{{ start_date }}"
                                        {% else %}
                                       name="start_date"
                                        {% endif %}
                                       class="form-control datepicker" placeholder="Start Date">
                            </div>
                        </div>

                        <div class="form-group">
                            <label> To </label>
                            <input type="text" id="end_date"
                                    {% if end_date %}
                                   name="{{ end_date }}"
                                    {% else %}
                                   name="end_date"
                                    {% endif %}
                                   class="datepicker form-control " placeholder="End Date">
                        </div>

                        <div class="form-group">
                            <a value="" class="btn btn-default submit">&nbsp;View Report</a>
                        </div>
                        <a href="{% url "transaction_list" %}"><i class="fa fa-undo"
                                                                  style="color: rgba(0, 0, 0, 0.6); font-size: x-large;"></i></a>
                    </form>
                </div>

                <div class="item-name-content hide">
                    {#                    <p>Here is item-name-content</p>#}

                    <div class="col-md-3">
                        {{ form.item }}
                    </div>
                </div>
            </div>

            <div class="col-xs-12 visible-xs visible-sm">
                <div class="date-content hide">
                    <br>
                    <div>
                        <div class="col-xs-4 col-sm-4">
                            <a class="hide-pdf"
                               href="?utf8=✓&amp;start_date={{ 3|datefilter }}&amp;end_date={{ 0|datefilter }}">Last 3
                                Months</a>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <a class="hide-pdf"
                               href="?utf8=✓&amp;start_date={{ 6|datefilter }}&amp;end_date={{ 0|datefilter }}">Last 6
                                Months</a>
                        </div>
                        <div class="col-xs-4 col-sm-4">
                            <a class="hide-pdf"
                               href="?utf8=✓&amp;start_date={{ 12|datefilter }}&amp;end_date={{ 0|datefilter }}">Last 12
                                Months</a>
                        </div>
                    </div>
                    <br><br>
                    <div class="form-group">
                        <div id="datetimepicker1">
                            <input type="text" id="start_date"
                                    {% if start_date %}
                                   name="{{ start_date }}"
                                    {% else %}
                                   name="start_date"
                                    {% endif %}
                                   class="form-control datepicker" placeholder="Start Date">
                        </div>
                    </div>
                    <p><strong>To</strong></p>
                    <div class="form-group">
                        <input type="text" id="end_date"
                                {% if end_date %}
                               name="{{ end_date }}"
                                {% else %}
                               name="end_date"
                                {% endif %}
                               class="datepicker form-control " placeholder="End Date">
                    </div>

                    <div class="form-group">
                        <a value="" class="btn btn-default submit">&nbsp;View Report</a>
                    </div>
                    <a href="{% url "transaction_list" %}"><i class="fa fa-undo"
                                                              style="color: rgba(0, 0, 0, 0.6); font-size: x-large;"></i></a>
                </div>


                <div class="item-name-content hide">
                    <div class="col-xs-12">
                        <br>
                        {{ form.item }}
                    </div>
                </div>
            </div>

            <div class="col-md-1 col-xs-12">
                <div class="text-right visible-md visible-lg">
                    <a href="{% url 'transaction_create' %}" class="btn btn-primary"> <span> <i
                            class="fa fa-plus">&nbsp; </i></span>
                        Add</a>
                    <br>
                    <br>
                </div>
                <div class="visible-xs visible-sm">
                    <br>
                    <a href="{% url 'transaction_create' %}" class="btn btn-primary"> <span> <i
                            class="fa fa-plus">&nbsp; </i></span>
                        Add</a>
                    <br>
                    <br>
                </div>
            </div>
        </div>
        <table class="table table-hover table-striped table-bordered">
            <thead>
            <tr>
                <th style="width: 10%">S.N.</th>
                <th style="width: 25%">Customer Name</th>
                <th style="width: 15%">Item</th>
                <th style="width: 10%">Quantity</th>
                <th style="width: 10%">Total Price</th>
                <th style="width: 20%">Transaction Date</th>
                <th style="width: 10%"></th>
            </tr>
            </thead>

            <tbody>
            {% for transaction in transactions.object_list %}

                <tr>
                    <td>  {{ forloop.counter0|add:transactions.start_index }}</td>
                    <td>{{ transaction.customer_name }}</td>
                    <td>{{ transaction.item }}</td>
                    <td>{{ transaction.quantity }}</td>
                    <td>{{ transaction.total_price }}</td>
                    <td class="created-date">{{ transaction.created_date|slugify }}</td>
                    <td>
                        <a href="{% url 'transaction_edit' pk=transaction.id %}"><span><i class="fa fa-edit fa-2x"></i></span></a>
                        &nbsp;
                        <a href="{% url 'transaction_edit' pk=transaction.id %}"><span> <i
                                class="fa fa-trash text-danger fa-2x"></i></span></a>
                    </td>
                </tr>

            {% empty %}
                <tr style="background-color: red; color: white;">
                    <td class="text-center text-large" colspan="7">None</td>
                </tr>
            {% endfor %}


            </tbody>

        </table>


        <div class="text-center">
            <ul class="pagination">
                {% if transactions.has_previous %}
                    <li><a href="?page={{ transactions.previous_page_number }}">&laquo;
                        Previous</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo; Previous</span></li>
                {% endif %}
                {% for i in transactions.paginator.page_range %}
                    {% if transactions.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if transactions.has_next %}
                    <li><a href="?page={{ transactions.next_page_number }}">Next &raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>Next &raquo;</span></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <br>
{% endblock %}

{% block footer %}
    <footer style="background-color: #337ab7;" id="#aboutus">
        <br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-center text-white"> Built With <i class="fa fa-heart text-danger"></i> In Biratnagar
                    </p>
                    <p class="text-center text-white">&copy; CopyRight <strong>Spyders</strong></p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}